/* ================== RESET ================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ================== ROOT ================== */
#root {
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #0f172a;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ================== APP LAYOUT ================== */
.app {
  display: flex;
  height: 100vh;
  overflow: hidden;
}


/* ================== MAIN ================== */
.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-bottom: 90px;
}

/* ================== HEADER ================== */
.header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 24px;
  background-color: #020617;
  border-bottom: 1px solid #1e293b;
}



.player-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;

  transform: translateY(100%);
  opacity: 0;

  transition:
    transform 0.45s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.3s ease;
  pointer-events: none;
}

/* Visible state */
.player-wrapper.show {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}


.player-wrapper.show {
  box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.4);
}

/* Mobile: sit above bottom nav */
@media (max-width: 768px) {
  .player-wrapper {
    bottom: 64px;
  }
}

/* ================================================= */
/* ================== TABLET ======================= */
/* ================================================= */
@media (max-width: 1024px) {
  .sidebar-container {
    width: 80px;
  }

  .sidebar {
    padding: 14px 10px;
    align-items: center;
  }

  .menu-text {
    display: none;
    /* 🔥 ICON ONLY */
  }

  .menu-item {
    justify-content: center;
    padding: 12px;
  }

  .sidebar-logo,
  .sidebar-footer {
    display: none;
  }
}

/* ================================================= */
/* ================== MOBILE ======================= */
/* ================================================= */
@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }

  /* Bottom Navigation */
  .sidebar-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 64px;
    width: 100%;
    border-right: none;
    border-top: 1px solid #1e293b;
    z-index: 1000;
  }

  .sidebar {
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
  }

  .sidebar-menu {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }

  .menu-item {
    flex-direction: column;
    gap: 4px;
    padding: 8px 10px;
  }

  .menu-item svg {
    width: 24px;
    height: 24px;
  }

  .menu-text {
    display: none;
    /* 🔥 ICON ONLY */
  }

  .main-container {
    padding-bottom: 140px;
    /* space for bottom nav */
  }
}